.new_task {
  display: flex;
}

.edit {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.25rem 0;
  border: none;
  caret-color: rgb(0, 19, 255);
}
.edit:focus {
  outline: none;
}
.edit::placeholder {
  color: rgb(164, 164, 164);
}

.add_button {
  background: #fff;
  border: 1px solid rgb(48, 50, 75);
  border-radius: 10px;
  padding: 0.625rem 1rem;
}

@media (max-width: 768px) {
  .edit {
    font-size: 1.25rem;
  }
}

@media (max-width: 425px) {
  .edit {
    font-size: 1rem;
  }
}

