@import './fonts/muller-trial/muller-trial.css';

body {
  font-family: 'Muller-Trial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

input {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
