.task_item {
  user-select: none;
}

.date {
  font-weight: 700;
  font-size: 1.25rem;
}

.body {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 1.25rem;
}

.title {

}

.title_done {
  text-decoration: line-through;
}

.title_edit {
  width: 100%;
  border: none;
  caret-color: rgb(0, 19, 255);
  border-bottom: 0.5px solid rgb(135, 135, 135);
}
.title_edit:focus {
  outline: none;
}

.footer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 1.5rem;
}

.task_item button {
  background: none;
  border: none;
}

.edit_active {
  color: rgb(0, 19, 255) !important;
  font-weight: 400;
}

.edit_button, .delete_button {
  width: auto;
  height: 100%;
  padding: 2px;
}

.edit_button {
  /* color: #000; */
}
.edit_button:hover {
  color: rgb(96, 100, 146);
}
.edit_button:focus {
  color: rgb(48, 50, 75);
}
.edit_button:disabled {
  color: rgb(164, 164, 164);
}

.delete_button {
  color: rgb(255, 47, 47);
}
.delete_button:hover {
  color: rgb(255, 155, 155);
}
.delete_button:focus {
  color: rgb(255, 47, 47);
}
.delete_button:disabled {
  color: rgb(164, 164, 164);
}
